.hero {
  position: relative;
  background: $aqua-blue;

  @include atMedium {
    background: transparent;
  }

  .site-logo {
    margin: 1rem auto;
    text-align: center;

    @include atMedium {
      margin: 0;
    }
  }

  picture {
    min-width: 100%;
  }

  &__image {
    display: none;

    @include atMedium{
      margin-top: -3px;
      display: block;
    }
  }

  .row {
    flex-direction: column;

    @include atMedium {
      flex-direction: row;
      position: absolute;
      top: 36px;
    }

    .primary-nav {
      padding-top: 1rem;

      ul {
        text-align: center;
      }

      li {
        margin-bottom: 12px;

        @include atMedium {
          display: inline-block;
          margin-left: 2rem;
        }

        a {
          text-decoration: none;
          font-size: 0.9375rem;

          &:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  &__text-content {
    width: 100%;
    text-align: center;
    padding: 35px 20px;
    color: #fff;

    @include atMedium {
      padding: 0;
      position: absolute;
      left: 0;
      top: 45%;
      transform: translateY(-45%);
    }

    @include atLarge {
      transform: translateY(-55%);
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;

    @include atSmall {
      font-size: 2rem;
    }

    @include atMedium {
      font-size: 2.4rem;
    }

    @include atLarge {
      font-size: 2.75rem;
    }
  }

  &__description {
    margin: 16px auto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    width: 90%;

    @include atSmall {
      width: 70%;
    }

    @include atMedium {
      font-size: 1.1rem;
    }

    @include atLarge {
      line-height: 1.8rem;
      margin: 36px auto;
      font-size: 1.25rem;
      width: 50%;
    }
  }
}
